<%= form_for(required_knowledge) do |f| %>
  <% if required_knowledge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(required_knowledge.errors.count, "error") %> prohibited this required_knowledge from being saved:</h2>

      <ul>
      <% required_knowledge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :knowledge_name %>
    <%= f.text_field :knowledge_name %>
  </div>

  <div class="field">
    <%= f.label :service_code %>
    <%= f.number_field :service_code %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
