<p id="notice"><%= notice %></p>

<h1>Required Knowledges</h1>

<table>
  <thead>
    <tr>
      <th>Knowledge name</th>
      <th>Service code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @required_knowledges.each do |required_knowledge| %>
      <tr>
        <td><%= required_knowledge.knowledge_name %></td>
        <td><%= required_knowledge.service_code %></td>
        <td><%= link_to 'Show', required_knowledge %></td>
        <td><%= link_to 'Edit', edit_required_knowledge_path(required_knowledge) %></td>
        <td><%= link_to 'Destroy', required_knowledge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Required Knowledge', new_required_knowledge_path %>
