<p id="notice"><%= notice %></p>

<h1>Seguidors</h1>

<table>
  <thead>
    <tr>
      <th>Login seguidor</th>
      <th>Login seguido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seguidors.each do |seguidor| %>
      <tr>
        <td><%= seguidor.login_seguidor %></td>
        <td><%= seguidor.login_seguido %></td>
        <td><%= link_to 'Show', seguidor %></td>
        <td><%= link_to 'Edit', edit_seguidor_path(seguidor) %></td>
        <td><%= link_to 'Destroy', seguidor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seguidor', new_seguidor_path %>
