= form_for @contractor do |f|
  - if @contractor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contractor.errors.count, "error")} prohibited this contractor from being saved:"
      %ul
        - @contractor.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :login
    = f.text_field :login
  .field
    = f.label :company_id
    = f.select :company_id, Company.all.collect {|c| [c.description, c.id]}
  .field
    = f.label :role
    = f.text_field :role
  .actions
    = f.submit 'Save'
