%h1 Listing contractors

%table
  %thead
    %tr
      %th Login
      %th Company
      %th Role
      %th
      %th
      %th

  %tbody
    - @contractors.each do |contractor|
      %tr
        %td= contractor.login
        %td= Company.find(contractor.company_id).description
        %td= contractor.role
        %td= link_to 'Show', contractor
        %td= link_to 'Edit', edit_contractor_path(contractor)
        %td= link_to 'Destroy', contractor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Contractor', new_contractor_path
