<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @contractor.login %>
</p>

<!--<p>
  <strong>Company:</strong>
  <%= @contractor.company_id %>
</p>-->

<p>
  <strong>Role:</strong>
  <%= @contractor.role %>
</p>

<%= link_to 'Edit', edit_contractor_path(@contractor) %> |
<%= link_to 'Back', contractors_path %>
