= form_for @add_foreign_key_to_freelancer_knowledge do |f|
  - if @add_foreign_key_to_freelancer_knowledge.errors.any?
    #error_explanation
      %h2= "#{pluralize(@add_foreign_key_to_freelancer_knowledge.errors.count, "error")} prohibited this add_foreign_key_to_freelancer_knowledge from being saved:"
      %ul
        - @add_foreign_key_to_freelancer_knowledge.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :knowledge_id
    = f.number_field :knowledge_id
  .field
    = f.label :freelancer_id
    = f.number_field :freelancer_id
  .actions
    = f.submit 'Save'
