%h1 Listing add_foreign_key_to_freelancer_knowledges

%table
  %thead
    %tr
      %th Knowledge
      %th Freelancer
      %th
      %th
      %th

  %tbody
    - @add_foreign_key_to_freelancer_knowledges.each do |add_foreign_key_to_freelancer_knowledge|
      %tr
        %td= add_foreign_key_to_freelancer_knowledge.knowledge_id
        %td= add_foreign_key_to_freelancer_knowledge.freelancer_id
        %td= link_to 'Show', add_foreign_key_to_freelancer_knowledge
        %td= link_to 'Edit', edit_add_foreign_key_to_freelancer_knowledge_path(add_foreign_key_to_freelancer_knowledge)
        %td= link_to 'Destroy', add_foreign_key_to_freelancer_knowledge, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Add foreign key to freelancer knowledge', new_add_foreign_key_to_freelancer_knowledge_path
