<p id="notice"><%= notice %></p>

<h1>Freelancer Knowledges</h1>

<table>
  <thead>
    <tr>
      <th>Freelancer login</th>
      <th>Knowledge name</th>
      <th>Certificates</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @freelancer_knowledges.each do |freelancer_knowledge| %>
      <tr>
        <td><%= freelancer_knowledge.freelancer_login %></td>
        <td><%= freelancer_knowledge.knowledge_name %></td>
        <td><%= freelancer_knowledge.certificates %></td>
        <td><%= link_to 'Show', freelancer_knowledge %></td>
        <td><%= link_to 'Edit', edit_freelancer_knowledge_path(freelancer_knowledge) %></td>
        <td><%= link_to 'Destroy', freelancer_knowledge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Freelancer Knowledge', new_freelancer_knowledge_path %>
