%p
  %b User:
  = User.find(@service.user_id).login
%p
  %b Service name:
  = @service.service_name
%p
  %b Start date:
  = @service.start_date
%p
  %b End date:
  = @service.end_date
%p
  %b Status:
  = @service.status
%p
  %b Price:
  = @service.price
%p
  %b Final score:
  = @service.final_score

- if !@acceptedSolutions.empty?
  %h1 Listing all accepted solutions for this service
  %table.table
    %thead
      %tr
        %th Solution
        %th User
        %th Description
        %th

    %tbody
      - @acceptedSolutions.each do |solution|
        %tr
          %td= solution.solution_id
          %td= User.find(solution.user_id).login
          %td= solution.description
          %td= link_to 'Show', solution

- if !@solutions.empty?
  %h1 Listing all proposed solutions for this service
  %table.table
    %thead
      %tr
        %th Solution
        %th User
        %th Description
        %th        
        %th

    %tbody
      - @solutions.each do |solution|
        %tr
          %td= solution.solution_id
          %td= User.find(solution.user_id).login
          %td= solution.description
          %td= link_to 'Show', solution          
          %td= link_to 'Accept Solution', :controller => :solutions, :action => :accept, :id => solution

= link_to 'Submit solution', new_solution_path(@service)
\|
-if @service.user_id == @current_user.id
  = link_to 'Edit', edit_service_path(@service)
\|
= link_to 'Back', services_path
