<p id="notice"><%= notice %></p>

<p>
  <strong>Contractor login:</strong>
  <%= @service.contractor_login %>
</p>

<p>
  <strong>Service code:</strong>
  <%= @service.service_code %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @service.solution_id %>
</p>

<p>
  <strong>Service name:</strong>
  <%= @service.service_name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @service.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @service.end_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @service.status %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<p>
  <strong>Final score:</strong>
  <%= @service.final_score %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
