%h1 Listing migrations

%table
  %thead
    %tr
      %th Removecompanyfromcontractors
      %th Company
      %th
      %th
      %th

  %tbody
    - @migrations.each do |migration|
      %tr
        %td= migration.RemoveCompanyFromContractors
        %td= migration.company_id
        %td= link_to 'Show', migration
        %td= link_to 'Edit', edit_migration_path(migration)
        %td= link_to 'Destroy', migration, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Migration', new_migration_path
