%p#notice= notice

%p
  %b Removecompanyfromcontractors:
  = @migration.RemoveCompanyFromContractors
%p
  %b Company:
  = @migration.company_id

= link_to 'Edit', edit_migration_path(@migration)
\|
= link_to 'Back', migrations_path
