%h1 Users

= form_tag users_path, :method => 'get' do 
  = label :user, :name, 'Name'
  = text_field_tag :search, params[:search], :class => 'input-sm form-control'

  = submit_tag 'Find', :class => 'btn btn-primary btn-whitelink'

%table.table
  %thead
    %tr
      %th User
  %tbody
    - @users.each do |user|
      -if current_user.id != user.id
        %tr
          %td= link_to user.name, user_path(user)
          %td
            -if current_user.follows?(user)
              =link_to 'Unfollow', user_unfollow_path(:followed=>user), :class => "btn btn-primary btn-danger btn-block", :method=>:delete
            -else
              =link_to 'Follow', user_follow_path(:followed=>user), :class => "btn btn-primary btn-whitelink btn-block", :method=>:post