= form_for @add_company_id_to_contractor do |f|
  - if @add_company_id_to_contractor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@add_company_id_to_contractor.errors.count, "error")} prohibited this add_company_id_to_contractor from being saved:"
      %ul
        - @add_company_id_to_contractor.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
