<p id="notice"><%= notice %></p>

<h1>Conhecimentos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conhecimentos.each do |conhecimento| %>
      <tr>
        <td><%= conhecimento.nome %></td>
        <td><%= conhecimento.descricao %></td>
        <td><%= link_to 'Show', conhecimento %></td>
        <td><%= link_to 'Edit', edit_conhecimento_path(conhecimento) %></td>
        <td><%= link_to 'Destroy', conhecimento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conhecimento', new_conhecimento_path %>
