<p id="notice"><%= notice %></p>

<h1>Conhecimento Freelancers</h1>

<table>
  <thead>
    <tr>
      <th>Login freelancer</th>
      <th>Nome conhecimento</th>
      <th>Certificados</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conhecimento_freelancers.each do |conhecimento_freelancer| %>
      <tr>
        <td><%= conhecimento_freelancer.login_freelancer %></td>
        <td><%= conhecimento_freelancer.nome_conhecimento %></td>
        <td><%= conhecimento_freelancer.certificados %></td>
        <td><%= link_to 'Show', conhecimento_freelancer %></td>
        <td><%= link_to 'Edit', edit_conhecimento_freelancer_path(conhecimento_freelancer) %></td>
        <td><%= link_to 'Destroy', conhecimento_freelancer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conhecimento Freelancer', new_conhecimento_freelancer_path %>
