%h1 Listing add_asd_to_freelancer_knowledges

%table
  %thead
    %tr
      %th Knowledge
      %th Freelancer
      %th
      %th
      %th

  %tbody
    - @add_asd_to_freelancer_knowledges.each do |add_asd_to_freelancer_knowledge|
      %tr
        %td= add_asd_to_freelancer_knowledge.knowledge
        %td= add_asd_to_freelancer_knowledge.freelancer
        %td= link_to 'Show', add_asd_to_freelancer_knowledge
        %td= link_to 'Edit', edit_add_asd_to_freelancer_knowledge_path(add_asd_to_freelancer_knowledge)
        %td= link_to 'Destroy', add_asd_to_freelancer_knowledge, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Add asd to freelancer knowledge', new_add_asd_to_freelancer_knowledge_path
