<p id="notice"><%= notice %></p>

<h1>Problemas</h1>

<table>
  <thead>
    <tr>
      <th>Id problema</th>
      <th>Criador</th>
      <th>Descricao</th>
      <th>Categoria</th>
      <th>Prioridade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problemas.each do |problema| %>
      <tr>
        <td><%= problema.id_problema %></td>
        <td><%= problema.criador %></td>
        <td><%= problema.descricao %></td>
        <td><%= problema.categoria %></td>
        <td><%= problema.prioridade %></td>
        <td><%= link_to 'Show', problema %></td>
        <td><%= link_to 'Edit', edit_problema_path(problema) %></td>
        <td><%= link_to 'Destroy', problema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Problema', new_problema_path %>
